<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
		<key>DisableASPM</key>
		<false/>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<false/>
		<key>RenameDevices</key>
		<dict/>
		<key>AutoMerge</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>UFhTWAhfQURSAAhfUFJXEgYC</data>
					<key>Comment</key>
					<string>Add _SUN property for GIGE</string>
					<key>Disabled</key>
					<true/>
					<key>Replace</key>
					<data>UFhTWAhfQURSAAhfU1VOCgQIX1BSVxIGAg==</data>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Comment</key>
					<string>Rename GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Find</key>
					<data>SERFRg==</data>
					<key>Comment</key>
					<string>Rename HDEF to AZAL</string>
					<key>Disabled</key>
					<true/>
					<key>Replace</key>
					<data>QVpBTA==</data>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Comment</key>
					<string>Rename oem _DSM to ZDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Replace</key>
					<data>WkRTTQ==</data>
				</dict>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Comment</key>
					<string>Rename HECI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Replace</key>
					<data>SU1FSQ==</data>
				</dict>
			</array>
			<key>Debug</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixIDE</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>FixIntelGfx</key>
				<false/>
				<key>FixACST</key>
				<false/>
				<key>FakeLPC</key>
				<false/>
				<key>FixFirewire</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixDisplay</key>
				<false/>
				<key>AddIMEI</key>
				<false/>
				<key>FixRegions</key>
				<false/>
				<key>AddMCHC</key>
				<false/>
				<key>FixAirport</key>
				<false/>
				<key>FixDarwin7</key>
				<false/>
				<key>FixHPET</key>
				<false/>
				<key>FixHeaders</key>
				<false/>
				<key>FixLAN</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>AddPNLF</key>
				<false/>
				<key>DeleteUnused</key>
				<false/>
				<key>AddDTGP</key>
				<false/>
				<key>FixS3D</key>
				<false/>
				<key>FixSATA</key>
				<false/>
				<key>FixSBUS</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixMutex</key>
				<false/>
				<key>FixUSB</key>
				<false/>
				<key>FixWAK</key>
				<false/>
				<key>FixDarwin</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixADP1</key>
				<false/>
				<key>AddHDMI</key>
				<false/>
			</dict>
			<key>Name</key>
			<string></string>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>FixMCFG</key>
		<false/>
		<key>HaltEnabler</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<string></string>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x3E7</string>
		<key>MLB</key>
		<string></string>
		<key>Block</key>
		<array/>
	</dict>
	<key>CPU</key>
	<dict/>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>NVidia</key>
			<false/>
			<key>Intel</key>
			<false/>
		</dict>
		<key>EDID</key>
		<dict/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>NeverHibernate</key>
		<false/>
		<key>NeverDoRecovery</key>
		<false/>
		<key>DisableCloverHotkeys</key>
		<false/>
		<key>Timeout</key>
		<integer>10</integer>
		<key>RtcHibernateAware</key>
		<false/>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Arguments</key>
		<string>brcmfx-country=HK</string>
		<key>StrictHibernate</key>
		<false/>
		<key>Fast</key>
		<false/>
		<key>Legacy</key>
		<string></string>
		<key>SignatureFixup</key>
		<false/>
		<key>SkipHibernateTimeout</key>
		<false/>
		<key>Debug</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelLapic</key>
		<false/>
		<key>KernelToPatch</key>
		<array/>
		<key>KernelPm</key>
		<false/>
		<key>AppleRTC</key>
		<false/>
		<key>KernelXCPM</key>
		<false/>
		<key>PanicNoKextDump</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>AppleIntelCPUPM</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<string>No</string>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>LANInjection</key>
		<false/>
		<key>HDMIInjection</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>layout-id</key>
				<data>YwAAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AACbPg==</data>
				<key>device-id</key>
				<data>mz4AAA==</data>
				<key>disable-external-gpu</key>
				<data>AQAAAA==</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>enable-lspcon-support</key>
				<data>AQAAAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-busid</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-type</key>
				<data>AAgAAA==</data>
				<key>framebuffer-con1-has-lspcon</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-preferred-lspcon-mode</key>
				<data>AQAAAA==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
			</dict>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>HighCurrent</key>
			<false/>
			<key>AddClockID</key>
			<false/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Scan</key>
		<dict>
			<key>Legacy</key>
			<false/>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ShowOptimus</key>
		<false/>
		<key>Timezone</key>
		<integer>3</integer>
		<key>Theme</key>
		<string>Lenovo</string>
		<key>EmbeddedThemeType</key>
		<string>Daytime</string>
		<key>PlayAsync</key>
		<false/>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>UIScale</key>
		<integer>1</integer>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro15,4</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectSystemID</key>
		<true/>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
